
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# PyCharm
.idea/


# Windows
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Celery
celerybeat-schedule

# Docker
*.pid

# Coverage
.coverage.*